*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
}
header{

    position: sticky;
}
.heading {
    width: 85%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


.logo img {
    height: 40px;
}

nav {
    margin-left: auto; 
}

nav ul {
    list-style: none;
    display: flex;

}


nav ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    font-weight: bold;
    padding: 15px;
}

nav ul li a:hover {
    color: hsl(134, 47%, 39%); 
}

.register-btn {
    background-color: hsl(134, 45%, 48%);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20px;
   
}

.register-btn:hover {
    background-color: hsl(243, 37%, 49%); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.207); 
    font-size: 1.2em;
    transition: 0.15s ease-in;

}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px ;
    padding-bottom: 100px;
}

.hero-content {

    margin-left: 40px;
  
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3em;
    color: #333;
}

.hero-content h1 span {
    color: hsl(134, 45%, 48%);
}

.hero-content p {
    font-size: 1.2em;
    margin: 20px 0;
    
}

.hero-img  img{
    margin-right: 150px;  
}

.trivia{

    text-align: center;
    margin-top: 50px;
}


/* firt 3 cards and hero2 */



.three-cards {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px; 
    border: 0.6px solid rgb(229, 226, 226);
    border-radius: 10px;
}

.info-card {

    padding: 20px;
    width: 30%;
    text-align: center;
}

.hero2 {

    margin: 40px 200px;
    display: flex;
    align-items: center;
}

.hero2 img {
    max-width: 100%;
    border-radius: 10px;
}

.hero2-content {
    margin-left: 50px;
    flex: 1;
}

.hero2-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero2-content p {

    margin-bottom: 20px;
}

.learn-more {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.learn-more:hover {
    background-color: hsl(133, 61%, 33%);
}


/* last Section */

.last {
    padding: 30px ;
   
    margin: 50px;
    text-align: center;
}

.container h2 {
    font-size: 2rem;
    margin: 20px  150px;

}

.para {

    width: 50%;
    margin-bottom: 40px;
    margin-left: 25%;
}

.card-container {        /*full all 3*/
    display: flex;
    justify-content: space-between;
}

.card {

    position: relative;
    width: 30%;
    border-radius: 10px;
    overflow: visible;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.card .text {
    position: absolute;
    bottom: -30px;
    width: 80%;
    margin-left: 12.5%;
    background: rgba(255, 255, 255, 0.858);
    padding: 20px;
    border-radius: 10px;
    z-index: 50;
    box-shadow: 0 -5px 15px rgba(14, 1, 1, 0.537);
    transition: 0.3s ease;
}

.card .text h3 {

    margin-bottom: 10px;
    font-size: small;
}

.card .readmore {
    color: hsl(134, 67%, 35%);
    text-decoration: none;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.05);
}


/* Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: hsl(219, 20%, 20%);
    color: white;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin-right: 20px;
    max-width: 200px;
  }
  
  .logo-section img {
    width: 100px; 
    margin-bottom: 10px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .footer a {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: hsl(178, 75%, 68%);
  }
  
  .icons{

    display: flex;
    flex-direction: row;
  }

  .icons a {

    font-size: 1.2em;
    margin-right: 10px;
    color: #d1d5db;
    transition: color 0.3s ease;
  }
  
  .icons a:hover{

    font-size: 1.5em;
  }

  .icons #yt:hover {

   color: rgb(222, 37, 37);
   background-color: white;
  }
  
  .subscribe-form {
    position: relative;

  }
  
  .subscribe-form input[type="email"] {
    width: 100%;
    padding: 10px 50px 10px 10px; 
    border: none;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .subscribe-form button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsl(217, 91%, 60%);
    color: white;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 0 4px 4px 0; 
    font-size: 15px;
    transition: background-color 0.3s ease;
  }
  

  .subscribe-form button:hover {

    background-color: hsl(221, 73%, 34%);
  }
  

  








